@use "../utils/typography" as Text;
@use "../utils/grid" as Grid;
@use "../utils/misc" as Misc;

@use "../components/topbar";
@use "../components/conversations";
@use "../components/chatarea";
@use "../components/welcome";

.chat {
  @include Grid.full-grid-no-gap;
  @include Text.sans-serif;
  @include Misc.fullwindow-size;

  .sidebar {
    grid-column: span 4;
    display: flex;
    flex-direction: column;
  }

  .chatarea,
  .welcome {
    grid-column: span 8;
  }
}
