// Black and White Color Variables
$black: #000000;
$white: #fff;

// Blue Color Variables
$blue-600: hsl(215, 87%, 51%);
$blue-200: #b2ddff;
$blue-75: #e0f0ff;
$blue-25: #f5faff;

// Rose Color Variables
$rose-900: #89123e;
$rose-800: #a11043;
$rose-700: #c01048;
$rose-600: #e31b54;
$rose-500: #f63d68;
$rose-400: #fd6f8e;

// Gray Color Variables
$gray-900: #101828;
$gray-800: #1d2939;
$gray-700: #344054;
$gray-600: #475467;
$gray-500: #667085;
$gray-400: #98a2b3;
$gray-300: #d0d5dd;
